<div class="container">
  <div class="row">
    <div class="column">
      <h3 class="users-title">Users</h3>
      <%= link_to "New User", "#myModal", :class => "button-xs button-newuser", "data-toggle" => "modal" %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'create_user' %>


